
<% include ./partials/header %>
<div class="container">
	<h1>Create a new Account</h1>
	<form action="/register"method="POST">
	<input type="text"name="username"placeholder="username">
	<input type="password" name="password"placeholder="create password">
	<button class="ui item ">Sign up</button>
</form>
</div>
<% include ./partials/footer %>